name: ci
on: [push, pull_request]
jobs:
  linux_container:
    strategy:
      fail-fast: false
      matrix:
        include:
          - {os: debian, codename: stretch, image_owner: , package_type: deb}
          - {os: debian, codename: buster, image_owner: , package_type: deb}
          - {os: ubuntu, codename: bionic, image_owner: , package_type: deb}
          - {os: ubuntu, codename: focal, image_owner: , package_type: deb}
    runs-on: ubuntu-latest
    container: ${{ matrix.image_owner }}${{ matrix.os }}:${{ matrix.codename }}
    name: linux container - ${{ matrix.image_owner }}${{ matrix.os }}:${{ matrix.codename }}
    steps:
      - name: checkout repo
        uses: myci-actions/checkout@master
      - name: check
        run: |
          [ -f "action.yml" ]
  macosx:
    name: macosx
    runson: macos-latest
    steps:
      - name: checkout repo
        uses: myci-actions/checkout@master
      - name: check
        run: |
          [ -f "action.yml" ]
